*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.divListar{
    width: 80%;
    margin: 0 auto;

}
.container-logo{
    margin: 0 auto;
}
.container-banner{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;

}
.banner{
    width: 100%;
    display: flex;
    padding: 13px;
    background-color: white;
    height: max-content;
}


.our{
    margin: 0 auto;
  background-color:  rgba(92, 141, 137, 1) 100%;
}
.ATRE{
   

    margin-top: 3%;
    font-size: 2rem;
    text-align: center;
}

.divCards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.10rem;
    width: 25%;
    margin: 4%;
    background-color: rgb(246, 249, 246)! important;
}

.btn{
    margin: 4%;
}