*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    border-radius: 9px;
    padding: 5%
}

label{
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;

}

.field{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 20%;
}

.field:focus{
    outline:none
}
.control{

    padding: 1rem;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.btnLogin{
    width: 25%;
    padding: 3%;
    height: 10%;
    background-color: #00C184;
    border-radius: 15px;
    color:#FFFF;
}
.divCards1{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
   
}

.divCards3{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
   
}