* {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}

.divRegistro {
  padding: 3rem 0rem 3rem 0rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  font-size: 1.2rem;
}

.svg-img {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

.svg-img img {
  width: 100%;
}

.logoRegistro{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoRegistro img{
  filter: drop-shadow(2px 2px 3px white);
  width: 200px;
}


.formRegister {
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.43);
  gap: 0.8rem;
  background: #e8e8e8;
}

.formRegister h1 {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(0, 120, 161);
  margin: 0;
}

.formRegister .field {
  width: 90%;
  height: 40px;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.43);
  border: none;
  outline: none;
  border-radius: 10px;
}

.formRegister .field::placeholder {
  text-align: center;
  padding: 0.3rem;
  color: rgba(0, 0, 0, 0.335);
}

.formRegister p {
  font-size: calc(0.1rem + 1vw);
  margin: 0;
}

.btn-register {
  width: 100%;
}

.btn-register .btn {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: rgb(6, 152, 133);
  color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.43);
  transition: all 0.3s;
}

.btn-register .btn:hover {
  transform: scale(1.05);
  color: white;
}

.btn-register .btn:active {
  transform: scale(1);
}

.ir_login {
  width: 40%;
  color: rgba(88, 88, 88, 0.879);
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.227);
}

.ir_login .link {
  text-decoration: none;
  color: rgb(17, 90, 216);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.679);
  transition: all 0.3s;
}

.ir_login .link:hover {
  transform: scale(1.1);
  color: black;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.656);
}
